# Naive Bayes

Example 10.2 in Barber's *Bayesian Reasoning and Machine Learning*

In [38]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
df = pd.DataFrame({'nationality': ['English', 'English', 'English', 'English', 'English', 'English',
                                  'Scottish', 'Scottish', 'Scottish', 'Scottish', 'Scottish', 'Scottish','Scottish'],
                  'shortbread' : [0,1,1,1,0,0,1,1,1,1,1,1,1],
                  'lager' : [0,0,1,1,1,0,0,1,1,1,1,0,0],
                  'whiskey': [1,1,0,0,0,0,0,0,1,0,0,1,1],
                  'porridge': [1,1,0,0,0,1,1,0,1,1,1,1,0],
                  'football': [1,0,1,0,1,0,1,1,0,0,1,0,0]})
df

    football  lager nationality  porridge  shortbread  whiskey
0          1      0     English         1           0        1
1          0      0     English         1           1        1
2          1      1     English         0           1        0
3          0      1     English         0           1        0
4          1      1     English         0           0        0
5          0      0     English         1           0        0
6          1      0    Scottish         1           1        0
7          1      1    Scottish         0           1        0
8          0      1    Scottish         1           1        1
9          0      1    Scottish         1           1        0
10         1      1    Scottish         1           1        0
11         0      0    Scottish         1           1        1
12         0      0    Scottish         0           1        1

Use Pandas to calculate the conditional probabilities and class probabilities

In [45]:
cond_probs = df.groupby('nationality').mean().to_dict(orient = 'index')
cond_probs

{'English': {'football': 0.5,
  'lager': 0.5,
  'porridge': 0.5,
  'shortbread': 0.5,
  'whiskey': 0.33333333333333331},
 'Scottish': {'football': 0.42857142857142855,
  'lager': 0.5714285714285714,
  'porridge': 0.7142857142857143,
  'shortbread': 1.0,
  'whiskey': 0.42857142857142855}}

In [46]:
class_probs = df.groupby('nationality').size() / df['nationality'].size

Use Bayes' Rule to determine $P(Scottish | (1,0,1,1,0))$

In [47]:
prob_x_english = (cond_probs['English']['shortbread'] * 
                    (1-cond_probs['English']['lager']) * 
                    cond_probs['English']['whiskey'] * 
                    cond_probs['English']['porridge'] * 
                    (1-cond_probs['English']['football']))

prob_x_scottish = (cond_probs['Scottish']['shortbread'] * 
                    (1-cond_probs['Scottish']['lager']) * 
                    cond_probs['Scottish']['whiskey'] * 
                    cond_probs['Scottish']['porridge'] * 
                    (1-cond_probs['Scottish']['football'])) 

prob_x = prob_x_english * class_probs['English'] + prob_x_scottish * class_probs['Scottish']

In [48]:
prob_x_scottish * class_probs['Scottish'] / prob_x

0.80762759394279304